
/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/

.ep_summary_box_title img,
.ep_summary_box_body h3
{
	margin-bottom: 0;
}

table.abstractbox caption
{
	background-color: #056273;
	padding: 0 5px;
	text-align: left;
    line-height: 36px;
	font-size: 22px;
	color: #ffffff;
}

table.abstractbox
{
	width: 100%;
	margin-bottom: 18px;
}

table.abstractbox td
{
	padding: 0.5em;
}

table.abstractbox
{
	border: 1px solid #DFDFDF;
}

table.abstractbox ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;

}

